mat-form-field {
    width: 100%;
}

.vertical-radio-button{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.radio-btn{
    margin: 5px;
}

mat-divider{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.dialog-action{
    margin-right: 1rem;
}

.btn-save{
    margin-right: .5rem;
}